.card {
    background-color: white;
    margin: 2rem;
    width: 30em;
    height: 30em;
    border-radius: 10px;
    border: 1px solid rgb(5, 72, 5);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

}
/*Flex-grow para aumentar o tamanho que ocupa o segundo filho da div card
que no caso são os dados do animal, tipo do animal, alimentação habitat e etc...*/
.card div:nth-child(2) {
    flex-grow: 2;
}

h1 {
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 5px;
    background-image: linear-gradient(to right, green, greenyellow);
    
    
}


.conteudoCard {
    font-size: 1.5em;
    margin: 2rem;
    font-weight: bold;
    top: 0;
   
}


.conteudoCard p {
    margin-bottom: 10px;
}

.areaBotoes {
    
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 20px;
    gap: 1.5em;
}

.areaBotoes button {
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

.areaBotoes .buttonAlterarAnimal {
    display: flex;
    gap: 1em;
    align-items: center;
    transition: .5s;
}

.areaBotoes .buttonAlterarAnimal:hover {
    color: greenyellow;
}

.areaBotoes .buttonRemoverAnimal {
    display: flex;
    gap: 1em;
    align-items: center;
    transition: .5s;
}

.areaBotoes .buttonRemoverAnimal:hover {
    color: red;
}


