.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_control select {
    border-radius: 0;
    border: 1px solid greenyellow;
    margin-bottom: 1em;
    padding: 1em;
    color: rgb(152, 225, 42);
    appearance: none;
    background: black;
    

}

.form_control select:focus {
    outline: none;
    
}





