@font-face {
    font-family: 'Savage Jungle';
    src: url('fonts/JungleBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.containerBody {
    display: grid;

    grid-template-areas:
    ".  . container  .  ."
}


.container {
    
    width: 1200px;
    padding: 50px;
    grid-area: container;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}

.titleContainer h1 {
    font-size: 7em;
    font-family: 'Savage Jungle';
}