.newAnimalBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newAnimal_Container {
    background: blue;
    color: white;
    width: 700px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.sectionForm {
    
}