.newAnimalBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newAnimal_Container {
    background: #eeeded;
    padding: 33px;
    border-radius: 15px;
    width: 700px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.newAnimal_Container h1 {
    margin-bottom: 1em;
    
}

.newAnimal_Container label {
    font-size: 1.5em;
}

.newAnimal_Container input, select {
    width: 500px;
    height: 30px;
    font-size: 1.2em;
    padding: 3px;
}

.sectionForm {
    display: flex;
    gap: 2em;
    flex-direction: column;
    margin-left: 36px;
}



