.containerBody {
   display: grid;

   grid-template-areas: 
   ".   container   .   ."
}



.container {
   
    width: 600px;
    padding: 50px;
    grid-area: container;
}

.container h1 {
    font-size: 3em;
    color: greenyellow;
    margin-bottom: 33px;
}

.container p {
    font-size: 1.5em;
}

.container i {
    color: aqua;
}