

.navbar {
    background-color: green;
    background-image: url('../../../imagens/jungle-trees.jpg');
    background-attachment: scroll;
    position: fixed;
    background-size: contain;
    width: 100%;
    height: 170px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navbar a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    transition: 1s;
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    
}

.imagemfundo {
    
}